.account {
    &__info {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #57A09F;
        padding: 1.25rem 2.5rem;
    }
    &__wrapper {
        display: flex;
        align-items: baseline;
        column-gap: 1.25rem;
    }
    &__icon-wrapper {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        border-radius: 50%;
    }
    &__id {
        color: #ffffff;
    }
    &__subtitle {
        text-decoration: underline;
        margin-bottom: 1.25rem;
    }
}
.publication {
    position: relative;
    max-width: 300px;
    height: 300px;
    overflow: hidden;
    &__img {
        filter: brightness(50%);
    }
    &__info {
        width: 100%;
        padding: 1rem 1.125rem;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        color: #ffffff;
    }
    &__info-wrapper {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
    &__name {
        font: {
            size: 1.5rem;
            weight: 500;
        }
    }
    &__date {
        line-height: 1.5rem;
    }
    &__date-btn {
        cursor: pointer;
        padding: 0 0.375rem;
        background-color: transparent;
        outline: none;
        border: none;
    }
    &__icon {
        color: #ffffff;
        font-size: 1.625rem;
    }
}