.login {
    height: 100vh;
    &__container {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__section {
        width: 400px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__form {
        width: 100%;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }
    &__btn {
        cursor: pointer;
        padding: 15px;
        background-color: #57A09F;
        font: inherit;
        color: #ffffff;
        border: none;
        border-radius: 10px;
    }
}

::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) .mdc-notched-outline__leading,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) .mdc-notched-outline__notch,
::ng-deep .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) .mdc-notched-outline__trailing {
    border-color: #57A09F !important;
    border-width: 2 !important;
}
::ng-deep .mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field.mat-mdc-form-field .mdc-notched-outline__notch {
    border-left: none !important;
}
::ng-deep .mdc-text-field--focused:not(.mdc-text-field--disabled):not(.mdc-text-field--invalid) .mdc-floating-label {
    color: #57A09F !important;
}